* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


.page {
    background: black;
    min-width: 320px;
}

.header__container-logo {   
    width: 320px;
    border-bottom: 1px solid #545454;
    margin-left: auto;
    margin-right: auto;
}

.header__logo {
    margin-top: 28px;
    margin-left: 27px;
    margin-bottom: 32px;
    width: 126px;
}

.header__profile {
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__image {
    width: 120px;
    height: 120px;
    margin-bottom: 30px;
}
.header__profile-info {
    display: flex;
    justify-content: center;
}


.header__title {
    color: white;
    margin-bottom: 14px;
    margin-right: 10px;
    width: 196px;
    font-weight: 500;
    font-size: 22px;
    line-height: 26.63px;
}

.header__icono {
    width: 18px;
    height: 18px;
    align-self: center;
}

.header__subtitle {
    color: white;
    margin-bottom: 36px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
}

.header__container-button {
    width: 282px;
    height: 50px;
    border: 2px solid white;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.header__button {
    width: 16px;
    height: 16px;
}

.main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__images {
    width: 282px;
    height: 282px;
    border-radius: 10px 10px 0px 0px;
}

.main__element {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 20px;
    width: 282px;
    height: 361px;
    background-color: white;
}

.main__info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 282px;
    height: 79px;
}

.main__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 29.05px;
    color: black;
}

.main__icono {
    width: 20.76px;
}

.footer {
    width: 282px;
    margin-top: 48px;
    color: #545454;
    margin-left: 19px;
    margin-right: 19px;
}

.text__footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
}

@media screen and (min-width:1280px) {
    .footer {
        width: 318px;
        margin-top: 66px;
        margin-left: 200px;
        margin-right: 762px;
       
    }

    .text__footer {
        font-size: 18px;
        line-height: 21.78px;
        padding-bottom: 60px;
    }
    
}

