* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


.page {
    background-color: #000000;
    min-width: 320px;
    color: white;
}

.page:hover {
    /* background-color: rgba(100,200,100,0.5); */
}



.header__container-logo {   
    width: 320px;
    border-bottom: 1px solid #545454;
    margin-left: auto;
    margin-right: auto;
}

.header__logo {
    margin-top: 28px;
    margin-left: 27px;
    margin-bottom: 32px;
    width: 126px;
}

.header__profile {
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__image {
    width: 120px;
    height: 120px;
    margin-bottom: 30px;
}


.header__profile-info {
    display: flex;
    justify-content: center;
}


.header__title {
    color: white;
    margin-bottom: 14px;
    margin-right: 10px;
    width: 196px;
    font-weight: 500;
    font-size: 22px;
    line-height: 26.63px;
}

.header__icono {
    width: 18px;
    height: 18px;
    align-self: center;
    cursor: pointer;
}

.header__subtitle {
    color: white;
    margin-bottom: 36px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
}

.header__container-button {
    width: 282px;
    height: 50px;
    border: 2px solid white;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.header__button {
    width: 16px;
    height: 16px;
}

@media screen and (min-width: 1280px) {

    .header__container-logo {   
        width: 880px;
        margin-left: auto;
        margin-right: auto;
    }

    .header__logo {
        width: 173px;
    }

    .header__profile {
        width: 880px;
        flex-direction: row;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        position: relative;

    }

    .header__image {
        margin-right: 30px;
    }

    .header__profile-info {
        width: 415px;
        height: 77px;
        margin-bottom: 100px;
        margin-right: 200px;
    }

    .header__title {
        width: 373px;
        height: 39px;
        font-size: 42px;
        line-height: 48px;
    }

    .header__icono{
        align-self: center;
        margin-top: 35px;
        width: 24px;
        height: 24px;
    }
    
    .header__subtitle {
        position: absolute;
        top: 80px;
        left: 150px;
        font-size: 18px;
        line-height: 21.78px;
    }

    .header__container-button {
        width: 150px;
    }
}

.main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__images {
    width: 282px;
    height: 282px;
    border-radius: 10px 10px 0px 0px;
}

.main__element {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 20px;
    width: 282px;
    height: 361px;
    background-color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.main__info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 282px;
    height: 79px;
}

.main__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 29.05px;
    color: black;
}

.main__icono {
    width: 20.76px;
}

@media screen and (min-width:1280px) {
    .main__container {
        width: 880px;
        height: 744px;
        /* background-color: red; */
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        align-items: normal;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 17px;
    }

    .main__element {
        width: 282px;
        height: 361px;
    }

}

.footer {
    width: 282px;
    margin-top: 48px;
    color: #545454;
    margin-left: auto;
    margin-right: auto;
}

.text__footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    padding-bottom: 36px;
}

@media screen and (min-width:1280px){
    .footer {
        width: 880px;
        margin-top: 66px;
    }

    .text__footer {
        font-size: 18px;
        line-height: 21.78px;
        padding-bottom: 60px;
    }
    
}

/* .popup {
    width: 282px;
    height: 322px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup_opened {
    display: none;
}

.popup__overlay {
    opacity: .7;
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
}

.popup-show {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popup__container {
    padding: 22px;
}

.popup__title {
    font-weight: 900;
    font-size: 18px;
    line-height: 21.78px;
    margin-bottom: 75px;
}

.popup__input {
    display: block;
    width: 238px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    margin-bottom: 30px;
    padding-bottom: 13px;
}

.popup__button-container{
    margin-top: 15px;
    width: 238px;
    height: 46px;
    border-radius: 2px;
    background-color: black;
    cursor: pointer;
}

.popup__button {
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
}

.close {
    width: 26px;
    height: 26px;
    position: fixed;
    top: 18%;
    left: 85%;
    cursor: pointer;
    display: none;
}


@media screen and (min-width:1280px) {

    .popup {
        width: 430px;
        height: 330px;
        position: fixed;
        top: 50%;
        left: 50%;
    }
    
    
    .popup__container {
        padding: 36px;
    }
    
    
    .popup__title {
        font-size: 24px;
        line-height: 29.05px;
        margin-bottom: 54px;
    }
    
    .popup__input {
        width: 358px;
        font-size: 14px;
        line-height: 16.94px;
        margin-bottom: 29.74px;
        padding-bottom: 13.26px;
    }
    
    .popup__button-container{
        margin-top: 18.26px;
        width: 358px;
        height: 50.15px;
    }
    
    .popup__button {
        font-size: 18px;
        line-height: 21.78px;
    }
    
    .close {
        width: 40px;
        height: 40px;
        position: fixed;
        top: 20%;
        left: 64%;
    }
}
 */


 @media screen and (min-width:1280px) {
    .popup {
        display: none;
    }
    
    .popup__overlay {
        opacity: .7;
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }
    
    .popup_show {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
    .popup__content {
        width: 430px;
        /* height: 120px; */
        background-color: white;
        z-index: 1;
    }
 }
 